<div class="container-component">
  <hr />
      <mat-card-title class="custom-title">
        {{config.i18n.title}}
      </mat-card-title>
  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      <div class="contianer">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{config.i18n.username}} </mat-label>
              <input matInput formControlName="userName"  required>
              <mat-hint align="end">{{ userForm.controls['userName'].value?.length || 0 }}/50</mat-hint>
              <mat-error *ngIf="userForm.controls['userName'].hasError('maxlength')">
                {{config.i18n.maximumCharacters}} 50
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{config.i18n.firstName}}</mat-label>
              <input matInput formControlName="firstName" required/>
              <mat-hint align="end">{{ userForm.controls['firstName'].value?.length || 0 }}/50</mat-hint>
              <mat-error *ngIf="userForm.controls['firstName'].hasError('maxlength')">
                {{config.i18n.maximumCharacters}} 50
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{config.i18n.lastName}} </mat-label>
              <input matInput formControlName="lastName" required/>
              <mat-hint align="end">{{ userForm.controls['lastName'].value?.length || 0 }}/50</mat-hint>
              <mat-error *ngIf="userForm.controls['lastName'].hasError('maxlength')">
                {{config.i18n.maximumCharacters}} 50
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{config.i18n.email}}</mat-label>
              <input matInput type="email" formControlName="email" required/>
              <mat-hint align="end">{{ userForm.controls['email'].value?.length || 0 }}/50</mat-hint>
              <mat-error *ngIf="userForm.controls['email'].hasError('maxlength')">
                {{config.i18n.maximumCharacters}} 50
              </mat-error>
              <mat-error *ngIf="userForm.controls['email'].hasError('email')">
                {{config.i18n.invalidEmail}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{config.i18n.phoneNumber}}</mat-label>
              <input matInput type="tel" formControlName="phoneNumber" pattern="[0-9]*" inputmode="numeric" required />
              <mat-hint align="end">{{ userForm.controls['phoneNumber'].value?.length || 0 }}/20</mat-hint>
              <mat-error *ngIf="userForm.controls['phoneNumber'].hasError('maxlength')">
                {{config.i18n.maximumCharacters}} 13
              </mat-error>
              <mat-error *ngIf="userForm.controls['phoneNumber'].hasError('pattern')">
                {{config.i18n.onlyNumbers}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{config.i18n.dniNumnber}}</mat-label>
              <input matInput type="tel" formControlName="dni" pattern="[0-9]*" inputmode="numeric" required />
              <mat-hint align="end">{{ userForm.controls['dni'].value?.length || 0 }}/20</mat-hint>
              <mat-error *ngIf="userForm.controls['dni'].hasError('maxlength')">
                {{config.i18n.maximumCharacters}} 13
              </mat-error>
              <mat-error *ngIf="userForm.controls['dni'].hasError('dniExists')">
                {{config.i18n.dniExists}}
                 
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div *ngIf="isSuperAdmin" class="col-md-6">
            <app-country-management-filter  [selectedCountryId]="selectedCountry"  (countrySelected)="onCountrySelected($event)" ></app-country-management-filter>
          </div>
          <div *ngIf="!isTechnicalContractor"  class="col-md-6">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{config.i18n.rolName}}</mat-label>
              <mat-select formControlName="roleId" required>
                <mat-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        
        <div class="col-md-6 text-right">
          <button [disabled]="!userForm.valid" mat-raised-button color="accent" type="submit">
            {{config.i18n.saveButton}}
          </button>
        </div>
        <div class="col-md-6 text">
          <button mat-raised-button color="primary" routerLink="/home/User">
            {{config.i18n.cancelButton}}
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>

</div>