<div class="login-container">
  <div class="logo">
    <img src="assets/images/logo-cable-color.png" alt />
  </div>
  <div class="login-box">
    <h2>{{ config.i18n.title }}</h2>
    <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="password">{{ config.i18n.emptySpace }}</label>
        <input
          id="password"
          formControlName="password"
          type="password"
          [placeholder]="config.i18n.placeholderPassword"
        />
        <div
          *ngIf="f['password'].touched && f['password'].errors"
          class="error-message"
        >
          <span *ngIf="f['password'].errors?.['required']">{{
            config.i18n.errorMessagePassword
          }}</span>
          <span *ngIf="f['password'].errors?.['minlength']">{{
            config.i18n.passwordLength
          }}</span>
          <span *ngIf="f['password'].errors?.['pattern']">
            {{ config.i18n.passwordComplexity }}
          </span>
        </div>
      </div>

      <div class="input-group">
        <label for="confirmPassword">{{ config.i18n.emptySpace }}</label>
        <input
          id="confirmPassword"
          formControlName="confirmPassword"
          type="password"
          [placeholder]="config.i18n.placeholderConfirmPassword"
        />
        <div
          *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors"
          class="error-message"
        >
          <span *ngIf="f['confirmPassword'].errors?.['required']">{{
            config.i18n.errorMessageConfirmPassword
          }}</span>
        </div>
        <div
          *ngIf="
            resetPassForm.errors?.['passwordMismatch'] &&
            f['confirmPassword'].touched
          "
          class="error-message"
        >
          <span>{{ config.i18n.errorMessagePasswordMismatch }}</span>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="!resetPassForm.valid"
        class="primary-button"
      >
        {{ config.i18n.buttons.change }}
      </button>
    </form>
  </div>
</div>
