@use '@angular/material' as mat;
@import '../styles.scss';

$primary-palette: mat.define-palette((50: #561c84,
      100: #561c84,
      200: #561c84,
      300: #561c84,
      400: #561c84,
      500: #561c84,
      600: #561c84,
      700: #561c84,
      800: #561c84,
      900: #561c84,
      contrast: (50: #ffffff,
        100: #ffffff,
        200: #ffffff,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
      ),
    ));


$secondary-palette: mat.define-palette((50: #E7367F,
      100: #E7367F,
      200: #E7367F,
      300: #E7367F,
      400: #E7367F,
      500: #E7367F,
      600: #E7367F,
      700: #E7367F,
      800: #E7367F,
      900: #E7367F,
      contrast: (50: #ffffff,
        100: #ffffff,
        200: #ffffff,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
      ),
    ));


$warn-palette: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((color: (primary: $primary-palette,
        accent: $secondary-palette,
        warn: $warn-palette,
      )));

@include mat.all-component-themes($custom-theme);
