<div class="container-component">
    <hr />
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{config.i18n.title}}
            </mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup"   class="requirement-form" >
                    <ng-template matStepLabel>{{config.i18n.titleStep1}}</ng-template>
                    <mat-form-field  class="requirement-full-width" >
                        <mat-label>{{config.i18n.typeRequest}}</mat-label>
                        <mat-select formControlName="firstCtrl" required  name="TypeRequest" >
                            <mat-option *ngFor="let typeRequest of typeRequests" [value]="typeRequest.id" >{{typeRequest.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-stroked-button matStepperNext>{{config.i18n.nextButton}}</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup" class="requirement-form" >
                    <ng-template matStepLabel>{{config.i18n.titleStep2}}</ng-template>
                    <hr>
                    <mat-divider></mat-divider>
                    <!-- Lugar, cliente o empresa, descripcion, contacto,prioridad,   -->

                    <!-- Input start -->
                    <div class="col-12">
                        <mat-form-field class="requirement-full-width" >
                            <mat-label>{{config.i18n.clientText}}</mat-label>
                            <input matInput formControlName="secondCtrl" placeholder="{{config.i18n.clientPlaceholder}}" required>
                        </mat-form-field>
                    </div>
                    <!-- Input end -->

                    <!-- Input start -->
                    <div class="col-12">
                        <mat-form-field class="requirement-full-width"  >
                            <mat-label>{{config.i18n.placeText}}</mat-label>
                            <input matInput formControlName="secondCtrl" placeholder="{{config.i18n.placePlaceholder}}" required>
                        </mat-form-field>
                    </div>
                    <!-- Input end -->

                    <!-- Input start -->
                    <div class="col-12">
                        <mat-form-field  class="requirement-full-width" >
                            <mat-label>{{config.i18n.descriptionText}}</mat-label>
                            <textarea matInput formControlName="secondCtrl" placeholder="{{config.i18n.descriptionPlaceholder}}" required></textarea>
                        </mat-form-field>
                    </div>
                    <!-- Input end -->

                    <!-- Input start -->
                    <div class="col-12">
                        <mat-form-field  class="requirement-full-width" >
                            <mat-label>{{config.i18n.contactText}}</mat-label>
                            <textarea matInput formControlName="secondCtrl" placeholder="{{config.i18n.contactPlaceholder}}" required></textarea>
                        </mat-form-field>
                    </div>
                    <!-- Input end -->


                    <!-- Input start -->
                    <div class="col-12">
                        <mat-form-field   class="requirement-full-width" >
                            <mat-label>{{config.i18n.priorityText}}</mat-label>
                            <mat-select formControlName="secondCtrl"  placeholder="{{config.i18n.priorityPlaceholder}}" required  name="Priority">
                                <mat-option *ngFor="let priority of priorities" [value]="priority.id" >{{priority.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <!-- Input end -->

                    <div>
                        <button mat-button matStepperPrevious>{{config.i18n.backButton}}</button>
                        <button mat-button matStepperNext>{{config.i18n.nextButton}}</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>{{config.i18n.titleStep3}}</ng-template>
                <p>You are now done.</p>
                <button mat-button (click)="stepper.reset()">{{config.i18n.saveButton}}</button>
                <div>
                    <button mat-button matStepperPrevious>{{config.i18n.backButton}}</button>
                    <button mat-button (click)="stepper.reset()">{{config.i18n.resetButton}}</button>
                </div>
            </mat-step>
        </mat-stepper>
    </mat-card>
</div>