<div class="container-component">
  <hr />
  <!-- tittle  -->
  <div class="row">
    <div class="col-md-12 ustify-content-start">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{config.i18n.title}}
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <hr />

  <!-- create button  -->
  <div class="row">
    <div class="offset-md-9 col-md-3 ustify-content-end">
      <mat-card>
        <a mat-raised-button color="accent" routerLink="create">{{ config.i18n.createButton }}</a>
      </mat-card>
    </div>
  </div>
  <hr />

  <!-- table  -->
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table mat-table class="table table-striped" cdkTable [dataSource]="dataSource" #tableRequirementsPlanning>
          <!-- name project Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="name">
              <strong>{{ config.i18n.nameText }}</strong>
            </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <!-- type project Column -->
          <ng-container matColumnDef="typeProjectName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="typeProjectName">
              <strong>{{ config.i18n.typeProjectNameText }}</strong>
            </th>
            <td mat-cell *matCellDef="let row"> {{row.typeProjectName}} </td>
          </ng-container>


          <!-- plannning state Column -->
          <ng-container matColumnDef="planningStateName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="planningStateName">
              <strong>{{ config.i18n.planningStateNameText }}</strong>
            </th>
            <td mat-cell *matCellDef="let row"> {{row.planningStateName}} </td>
          </ng-container>          

          <!-- date created Column -->
          <ng-container matColumnDef="dateCreated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="dateCreated">
              <strong>{{ config.i18n.dateCreatedText }}</strong>
            </th>
            <td mat-cell *matCellDef="let row"> {{row.dateCreated | date:"dd/MM/yyyy hh:mm:ss a"}} </td>
          </ng-container>

          <!-- actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="actions">
              <strong>{{ config.i18n.actionsText }}</strong>
            </th>
            <td mat-cell *matCellDef="let row">
              <a mat-icon-button color="primary" routerLink="detail/{{row.id}}">
                <mat-icon>remove_red_eye</mat-icon>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="config.i18n.displayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: config.i18n.displayColumns;"></tr>
        </table>
        <!-- start paginator -->
        <mat-paginator [pageSize]="5" [pageSizeOptions]="config.i18n.pagination" showFirstLastButtons>
        </mat-paginator>
        <!-- end paginator -->
      </div>
    </div>
  </div>

</div>