<div class="side-image">
  <img src="assets/images/circle-gray.svg" alt />
</div>
<div class="login-container">
  <div class="logo">
    <img src="assets/images/logo-cable-color.png" alt />
  </div>
  <div class="login-box">
    <h2>{{isLogin ? config.i18n.title : config.i18n.titleForgot}}</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="isLogin">
      <div class="input-group">
        <label for="username">{{config.i18n.emptySpace}}</label>
        <input
          id="username"
          formControlName="username"
          type="text"
          [placeholder]="config.i18n.placeholderUser"
        />
        <div
          *ngIf="f['username'].touched && f['username'].errors"
          class="error-message"
        >
          <span>{{config.i18n.errorMessageUser}}</span>
        </div>
      </div>
      <div class="input-group">
        <label for="password">{{config.i18n.emptySpace}}</label>
        <input
          id="password"
          formControlName="password"
          type="password"
          [placeholder]="config.i18n.placeholderPassword"
        />
        <div
          *ngIf="f['password'].touched && f['password'].errors"
          class="error-message"
        >
          <span>{{config.i18n.errorMessagePassword}}</span>
        </div>
      </div>
      <div class="input-group">
        <span class="forgot" (click)="showForgot()"
          >{{ config.i18n.forgotPassword}}</span
        >
      </div>
      <button
        type="submit"
        [disabled]="!loginForm.valid"
        class="secondary-button"
      >
        Entrar
      </button>
    </form>

    <form [formGroup]="forgotForm" *ngIf="!isLogin">
      <div class="input-group">
        <label for="username">{{config.i18n.emptySpace}}</label>
        <input
          id="username"
          formControlName="username"
          type="text"
          [placeholder]="config.i18n.placeholderUser"
        />
        <div
          *ngIf="f['username'].touched && f['username'].errors"
          class="error-message"
        >
          <span>{{config.i18n.errorMessageUser}}</span>
        </div>
      </div>

      <div class="buttons">
        <button (click)="showForgot()" type="submit" class="primary-button">
          {{config.i18n.buttons.cancel}}
        </button>
        <button
          (click)="onForgot()"
          type="submit"
          [disabled]="!forgotForm.valid"
          class="secondary-button"
        >
          {{config.i18n.buttons.forgotPassword}}
        </button>
      </div>
    </form>
  </div>
</div>
<div class="bottom-image">
  <img src="assets/images/circle-purple.svg" alt />
</div>
