<div class="admin-content">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      class="sidenav-body mat-elevation-z8"
      mode="side"
      [opened]="isSidenavOpened"
      [fixedTopGap]="56"
      [fixedBottomGap]="1"
    >
      <header>
        <img src="assets/images/logo-cable-color.png" alt />
      </header>

      <mat-nav-list class="side-navnar">
        <ng-container *ngFor="let menu of  menu; index as i;">
          <ng-container
            [ngTemplateOutlet]="menu.children ?  childMenu : parentMenu"
            [ngTemplateOutletContext]="{menu:menu}"
          >
          </ng-container>
        </ng-container>
      </mat-nav-list>

      <ng-template #parentMenu let-menu="menu">
        <mat-list-item
          [routerLink]="menu.routerLink"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{exact:true}"
        >
          <mat-icon>{{menu.icon}}</mat-icon> {{menu.text}}
        </mat-list-item>
      </ng-template>

      <mat-accordion>
        <ng-template #childMenu let-menu="menu">
          <mat-expansion-panel [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header>
              <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>{{menu.text}}
            </mat-expansion-panel-header>
            <mat-nav-list>
              <mat-list-item
                [routerLink]="submenu.routerLink"
                *ngFor="let submenu of menu.children"
                routerLinkActive="is-active"
                [routerLinkActiveOptions]="{exact:true}"
              >
                <mat-icon>{{submenu.icon}}</mat-icon> {{submenu.text}}
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>
        </ng-template>
      </mat-accordion>

      <footer>
        <p color="dark">Powered by</p>
        <img src="assets/images/logo-appland.png" alt="logo-appland" />
      </footer>
    </mat-sidenav>

    <mat-sidenav-content
      [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''"
    >
      <mat-toolbar>
        <button
          mat-icon-button
          (click)="toggleSidenav()"
          aria-label="Toggle sidenav"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <p>Cable Color</p>
        <span class="example-spacer"></span>
        <button mat-icon-button matTooltip="Cerrar sesión">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>

      <router-outlet #outlet="outlet"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
